
.navigation_menu{

}

.navigation_menu ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 130px;
}

.navigation_menu li{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.navigation_menu p{
    font-size: 24px;
    font-weight: 400;
}

.button_add {
    background: white;
    border: none;
    border-radius: 28px;
    padding: 15px 20px;

    gap: 15px;
    display: flex;
    align-items: center;

    color: black;
    font-size: 17px;
    font-weight: 400;
}

.button_add img {
    width: 20px;
    height: 20px;
}