footer {
    background: #0F1621;
    border-radius: 58px 58px 0 0;
    height: 511px;
    width: 100%;
    margin-top: 100px;
}

.footer_block {
    padding: 60px 92px;
    margin: auto 100px -50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-row-gap: 80px;
    grid-column-gap: 80px;
}

.column_nav_bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 40px;
}

.nav_title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.nav_title p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

#hr_block {
    width: 25px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer_column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}

#footer_column hr {
    background-color: #78B591;
    border: none;
    height: 4px;
    width: 15px;
    border-radius: 100px;
}

#footer_column li {
    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
    color: #BCBCBC;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;

    transition: all 0.3s ease;
}

#footer_column li:hover{
    color: #FFFFFF;
    padding-left: 10px;
}

#stroke_footer {
    width: 46%;
    opacity: 0.33;
}

#stroke_p_footer{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    display: inline;
}

.communication_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    /*gap: 20px;*/
}

.button_communication_footer {
    padding: 15px 17px;
    background: transparent;
    border: 0.5px solid #E2E8F0;
    border-radius: 10px;
    cursor: pointer;

    transition: background 0.5s;
}

.button_communication_footer img {
    width: 30px;
    height: 30px;
}

.button_communication_footer:hover {
    background: #555c59;
}

.button_communication_footer:active {
    transform: scale(0.98);
}



