.modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    background-color: rgba(15, 22, 33, 0.7);
    backdrop-filter: blur(5px);
    margin: 0;
    padding: 0;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #272C35;
    padding: 70px 100px;
    border-radius: 29px;
    gap: 20px;
}

.modal-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.line {
    border-left: 2px solid #8FFFBD;
    height: 250px;
    opacity: 0.3;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.block-input{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px 0 25px 0;
    position: relative;
}

#label{
    font-size: 20px;
    font-weight: 300;
    color: #C2C9D1;
}

.block-input input {
    background-color: rgba(96, 109, 101, 0.4);
    border-radius: 20px;
    border: none;
    width: 400px;
    height: 65px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 22px;
    color: #C2C9D1;
    outline: none;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.5);

}

.block-input label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: 400;
    color: #C2C9D1;
    pointer-events: none;
    transition: 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus{
    border: 2px solid rgba(221, 234, 245, 0.4);
}

input[type="text"]:focus ~ label, input[type="text"]:valid ~ label,
input[type="password"]:focus ~ label, input[type="password"]:valid ~ label{
    top: -15px;
    left: 13px;
    font-size: 17px;
    font-weight: 400;
    padding: 0 4px 0 0;
    background: #272C35;
}

.block-input span {
    position: absolute;
    cursor: pointer;
    top: 30%;
    right: 20px;
    z-index: 1000;
}

.block-input span img {
    width: 30px;
    height: 30px;
}